.light{
    background-color: rgb(238, 226, 249);
    color: rgb(87, 3, 165);
    display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
}
.dark{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(87, 3, 165);
    color: rgb(238, 226, 249);
}
.icon {
    width: 30px;
    height: 30px;
}