#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 1em;
  background-color: snow;
  width: 60vmin;
  color: black;
  border-radius: 16px;
  overflow: hidden;
  margin: 10px;
}

.cardtext {
  text-align: left;
  line-height: 1;
  padding: 10px 10px 40px 10px;
}
.cardtext p {
  color: rgb(33, 32, 32);
  line-height: 1.5;
}


.read-the-docs {
  color: #888;
}
main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
      /* background-color: beige; */
      min-width: 320px;
      min-height: 100vh;
      align-items: center;
      text-align: center;
      
}